{% extends "./base.html" %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/room_table.css' %}">

{% block content %}
    <a href="{% url "guest_create" %}"><button>Add Guest</button></a>
    <table>
    <tr><th>Name</th><th>VIP</th><th>Email</th></tr>
{% for guest in guest_list %}
    <tr><td>{{ guest.first }}</td> <td>{{ guest.last }}</td> <td>{{ guest.vip }}</td><td>{{ guest.email }}</td><td><a href="{% url 'guest_update' guest.id %} "><button>Update</button> </a></td><td><a href="{% url 'guest_delete' guest.id %} "><button>Delete</button></a></td></tr>
    {% endfor %}
    </table>
{% endblock %}